header.header
    section.nav
        a(class="nav__item text" href="#") about us
        span(class="nav__item") .
        a(class="nav__item text" href="#") work
        a(class="nav__item img" href="index.html")
            img(class="nav__item_img" src="img/header/logo.png")
        a(class="nav__item text" href="#") shop
        span(class="nav__item") .
        a(class="nav__item text" href="#") contact
