header.header
    // NAV LINKS SECTION
    section.nav
        a(class="nav__item _text" href="#") about us
        span(class="nav__item") .
        a(class="nav__item _text" href="#") work
        a(class="nav__item" href="index.html")
            img(class="nav__item_img" src="img/logo.png")
        a(class="nav__item _text" href="#") shop
        span(class="nav__item") .
        a(class="nav__item _text" href="#") contact
