header.header
    // NAV LINKS SECTION
    section.nav
        a(class="nav__item hover-line" href="#")
            p(class="nav__item_text") about us
        span .
        a(class="nav__item hover-line" href="#")
            p(class="nav__item_text") work
        a(class="nav__item" href="index.html")
            img(src="img/logo.png")
        a(class="nav__item hover-line" href="#")
            p(class="nav__item_text") shop
        span .
        a(class="nav__item hover-line" href="#")
            p(class="nav__item_text") contact
