doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title A.O.D
        link(rel="stylesheet" href="css/main.css" type="text/css")
        link(rel="shortcut icon" href="img/logo.png" type="image/x-icon")
    body
        include _header.pug

        main.main

        include _footer.pug
